@model netCoreWorkshop.Entities.Article

@{
    ViewData["Title"] = "Crear";
}

<h2>Crear</h2>
<form action="/Articles/Create" method="Post">
    <div class="form-horizontal">
        <h4>Artículo</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label class="col-md-2 control-label">Título</label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>